#mapid { height: 100vh; }
html{
  overflow: hidden;
  font-family: 'Alegreya Sans SC', sans-serif;
}
body {
  margin: 0;
  transition: 0.5s;
}
p{
  line-height: 200%;
}
h1{
  font-size: 120px;
  text-align: center;
  color: white;
}
.help-button{
  font-size: 20px;
  text-align: center;
  width: 30%;
  height: 20px;
  bottom: 0;
  left: 0;
  overflow: hidden;
  position: fixed;
  margin: 0;
  padding: 0;
  padding-bottom: 0;
  background-color: #5774bd;
  z-index: 1;
  transition: 0.5s;
  outline: none;
  padding: 0;
  border: none;
  user-select: none;
}
#help-content {
  width: 30%;
  color: #00288c;
  background-color: white;
  height: 0;
  position: fixed;
  z-index: 2;
  bottom: 0;
  left: 0;
  overflow-x: hidden;
  transition: 0.5s;
  list-style-type: none;
  margin: 0;
  font-size: 12px;
  text-align: left;
  overflow-y: hidden;
}
.main-wrapper{
  font-size: 13px;
  height: 100vh;
  perspective: 1px;
  transform-style: preserve-3d;
  overflow-x:hidden;
  overflow-y:scroll;
}
.parallax-wrapper {
    width: 100vw;
    height:100vh;
    padding-top:20vh;
    box-sizing: border-box;
    transform-style: preserve-3d;
    background-color: rgb(134,187,216, 0.8);
}
.parallax-wrapper::before {
    content:"";
    width: 100vw;
    height: 100vh;
    top:0;
    left:0;
    background-image: url("images/background.jpg");
    position: absolute;
    z-index: -1;
    transform:translateZ(-1px) scale(2);
}
.regular-wrapper {
    width: 100vw;
    height:200vh;
    padding-top:2vh;
    background-color:#dae2f0;
    z-index: 1;
    position: relative;
}
.content {
  text-align: center;
  margin: 0 auto;
  color: white;
  padding: 0px;
  font-size: 20px;
  width: 80%;
  z-index: -1;
}
#Location-input {
  width: 70vw;
  height: 5vh;
}
